<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="navbar">
    <div style="position: absolute; width: 100%;">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
            <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse" id="container">
                <div>
                    <!--<a class="navbar-brand" th:href="@{/index}">Index</a>-->
                    <a class="navbar-brand" th:href="@{/index}">
                        <img src="images/logo.png" alt="Logo" width="150px">
                    </a>
                </div>
                <div>
                    <!--<ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">1er lien</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href="#">
                                2eme lien <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown_target">
                                <a class="dropdown-item" href="#"> Sous lien 1</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"> Sous lien 2</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="dropdown_target" href="#">
                                3eme lien <span class="caret"></span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdown_target">
                                <a class="dropdown-item" href="#"> Sous lien 1</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"> Sous lien 2</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"> Sous lien 3</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"> Sous lien 4</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"> Sous lien 5</a>
                            </div>
                        </li>
                    </ul>-->
                    <div id="title">
                        <a> SECUR'EVENT </a>
                    </div>
                </div>
                <div class="navbar_nav">
                    <a class="navbar-brand" th:href="@{/index}">
                        <img src="images/logoAXA.png" alt="Logo" width="70px">
                    </a>
                </div>
                <!--<div class="navbar-nav">
                    <div>
                        <li class="nav-item">
                            <a class="button" th:href="@{/login}" style="margin-right: 12%;"> Connexion </a>
                        </li>
                    </div>
                    <div>
                        <li class="nav-item">
                            <a class="button" th:href="@{/signin}" style="margin-left: 12%;"> S'inscrire </a>
                        </li>
                    </div>
                </div>-->
            </div>
        </nav>
    </div>
</div>