#onOff:active {
    transform: scale(0.9);
}

#container {
    display: flex; /* establish flex container */
    flex-direction: row; /* default value; can be omitted */
    flex-wrap: nowrap; /* default value; can be omitted */
    justify-content: space-between;
    width: 100%;
}

#title {
    color: #005cbf;
    font-family: "Arial", sans-serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}